.visible-lg{
  list-style: none;
  font-weight: bold;
}
.lineheight80{
  line-height: 80px;
}
.padding-top10{
  padding-top: 10px;
}
.padding-bottom10{
  padding-bottom: 10px;
}
.menu-signup{
  height: 80px;
}
.menu-signup a{
  display: inline-block;
}
.glyphicon-menu-hamburger{
  line-height: 60px;
  font-size:30px;
}
.glyphicon-menu-right{
  vertical-align:text-top;
}
.logo{
  height: 40px;
  display: inline-block;
  background-image: url("../img/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(40%, 50%);
}
.btn-blue{
  width: 100px;
  margin-top: 3px;
  border: 2px solid #2485FD;
  border-radius: 5px;
  transform: translateY(50%);
}
.header-top{
  position: fixed;
  height: 80px;
  background-color: #fff;
  width: 100%;
  font-size: 17px;
  z-index: 1;
}
.jumbo{
  background-image: url("../img/bg-home-1-d54581d7.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
h1{
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}
p{
  font-size: 23px;
  color: #fff;
}
.jumbo-text{
  margin-top: 150px;
  margin-bottom: 100px;
}
.account{
  background-color: #fff;
  border-radius: 5px;
  margin-top: 150px;
  height: 80%;
  width: 50%;
}
#deploy-app{
  color: black;
  margin-top: 30px;
}
#get-started{
  color: #2485FD;
}
h2{
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.btn-account{
  height: 40px;
  width: 100%;
  line-height:25px;
  margin-top: 10px;
  font-weight: bold;
}
.btn-mail-pass{
  border: 2px solid #e2f4ff;
  text-align: left;
  color: #afafaf;
}
.btn-create{
  background-color: #2485FD;
  text-align: center;
  color: #fff;
}
.btn-google{
  border: 2px solid #e2f4ff;
  position: relative;
}
.google-logo{
  position: absolute;
  background-image: url("../img/google-icon.png");
  height: 25px;
  width: 25px;
  background-position: center;
  background-size: cover;
}
.account p{
  padding-top: 10px;
  color: black;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.account p a{
  color: #2485FD;
  text-decoration: underline;
}
.customers{
  background-color: #e2f4ff;
}
.customers h3 {
  font-weight: bold;
  margin-top: 70px;
}
.customers a{
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 100px;
}

#img1{
  background-image: url("../img/horizontal-logo-monochromatic-white.png");
}
#img2{
  background-image: url("../img/gitlab-logo.png");
}
#img3{
  background-image: url("../img/slack1.png");
}
#img4{
  background-image: url("../img/HashiCorp_PrimaryLogo_Black.png_h_250");
}
#img5{
  background-image: url("../img/HashiCorp_PrimaryLogo_Black.png_h_250");
}
#img6{
  background-image: url("../img/Splunk_Logo.png");
}
.custom-img{
  height: 150px;
  width: 150px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.deploy-scale p{
  padding-top: 20px;
  padding-bottom: 20px;
  color: #6b6b6b;
  text-align: center;
  font-weight: bold;
}
.deploy-list{
  list-style: none;
}
.deploy-list li{
  padding-top: 10px;
  border-left: 2px solid #e2e2e2;
  padding-left: 10px;
  font-size: 25px;
}
.d-box{
  height: 250px;
  width: 100%;
  margin-top: 30px;
}
.d-box h3{
  font-size: 22px;
  font-weight: bold;
  text-align: left;
}
.d-box p{
  font-size: 20px;
  text-align: left;
  padding: 0;
  color: black;
  font-weight: normal;
}
.img-box{
  height: 60px;
  width: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#img-box1{
  background-image: url("../img/cluster-deploy.svg");
}
#img-box2{
  background-image: url("../img/optimized-compute.svg");
}
#img-box3{
  background-image: url("../img/one-click.svg");
}
#img-box4{
  background-image: url("../img/global.svg");
}
.btn-chevron{
  height: 100px;
  font-size: 50px;
  background-color: #e2f4ff;
  color: grey;
  margin-top: 60%;
}
.chev-right{
  color: black;
}
.chev-left{
  margin-left: 70%;
}
.developers p{
  color: #6b6b6b;
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
}
.developers{
  background-color: #e2f4ff;
}
.dev-custom-image{
  height: 400px;
  background-image: url("../img/screenshot-create-droplet-12336b41.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.btn-circle{
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid #2485FD;
  background-color: #e2f4ff;
}
.btn-circle-blue{
  background-color: #2485FD;
}
#d-box1{
  background-image: url("../img/pred-pricing.svg");
}
#d-box2{
  background-image: url("../img/world-class.svg");
}
#d-box3{
  background-image: url("../img/reliable-platform.svg");
}
.features a{
  font-size: 20px;
  color: #2485FD;
}








@media screen and (max-width: 768px){
  .account{
    width: 100%;
    margin-bottom: 50px;
  }
  .custom-img{
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .jumbo-text{
    margin-left: 50px;
    margin-right: 50px;
  }
  .menu-signup a{
    transform: translate(-50% 100%);
  }
  .customers{
    height: 1100px;
  }
  .features .d-box{
    padding-left: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .customers{
    height: 500px;
  }
  .deploy-list{
    margin-top: 40px;
    padding: 0;
  }
  .d-box{
    margin-top: 60px;
  }
}
@media screen and (min-width: 992px) {
  .customers{
    height: 350px;
  }
}
